<body>
<h1>Voting App</h1>
   <div class="container">
     <div class="left-container">
       <div class="left">
        <table style="width:100%">
         <thead>
          <tr>
            <th colspan="3">
              <div class="header-content">
                <span class="header-title">Voters</span>
                <button class="add-button" (click)="showAddVoterModal()">+</button>
            </div>
            </th>
          </tr>
           <tr>
             <th>Name</th>
             <th>Has Voted</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let voter of voters">
             <td>{{ voter.name }}</td>
             <td>{{ voter.hasVoted ? 'Yes' : 'No' }}</td>
           </tr>
         </tbody>
       </table>
       </div>
       
       <div class="bottom">
        <h2>Vote!</h2>
          <select [(ngModel)]="selectedVoterId" (change)="onVoterChange($event)">
          <option [ngValue]="null" selected disabled>I am</option>
          <option *ngFor="let voter of filteredVoters" [value]="voter.id">{{ voter.name }}</option>
        </select>
        <select [(ngModel)]="selectedCandidateId" (change)="onCandidateChange($event)">
         <option [ngValue]="null" selected disabled>I vote for</option>
          <option *ngFor="let candidate of candidates" [value]="candidate.id">{{ candidate.name }}</option>
        </select>
        <button (click)="vote()">Submit!</button>
      </div>
       
     </div>
    
     
     <div class="right">
       <table style="width:100%">
         <thead>
          <tr>
            <th colspan="3">
              <div class="header-content">
                <span class="header-title">Candidates</span>
                <button class="add-button" (click)="showAddCandidateModal()">+</button>
            </div>
            </th>
          </tr>
           <tr>
             <th>Name</th>
             <th>Votes</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let candidate of candidates">
             <td>{{ candidate.name }}</td>
             <td>{{ candidate.votes }}</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
</body>

<!-- Voter Modal -->
<div id="addVoterModal" class="modal" [ngClass]="{'show': isAddVoterModalVisible}">
  <div class="modal-content">
      <span class="close" (click)="hideAddVoterModal()">&times;</span>
      <h2>Add New Voter</h2>
      <div>
          <input type="text" [(ngModel)]="newVoterName" placeholder="New Voter Name" required>
      </div>
      <div>
          <button (click)="addVoter()">Save</button>
          <button (click)="hideAddVoterModal()">Cancel</button>
      </div>
  </div>
</div>

<!-- Candidate Modal -->
<div id="addCandidateModal" class="modal" [ngClass]="{'show': isAddCandidateModalVisible}">
  <div class="modal-content">
      <span class="close" (click)="hideAddCandidateModal()">&times;</span>
      <h2>Add New Candidate</h2>
      <div>
          <input type="text" [(ngModel)]="newCandidateName" placeholder="New Candidate Name" required>
      </div>
      <div>
          <button (click)="addCandidate()">Save</button>
          <button (click)="hideAddCandidateModal()">Cancel</button>
      </div>
  </div>
</div>