h1 {
    text-align:center;
 }
 body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  table, th, td {
    border: 1px solid black;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .left-container {
    display: flex;
    flex-direction: column;
    margin-left:170px;
  }
  
  .left, .bottom, .right {
    padding: 10px;
    background-color: #c0c0c0;
    border: 1px solid #999;
    margin: 5px 0;
  }
  
  .right {
    align-self: flex-start;
    margin-right:180px;
  }
